/* jukebox/static/css/style.css */

:root {
    --spotify-black: #121212;
    --spotify-dark-gray: #181818;
    --spotify-light-gray: #282828;
    --spotify-green: #1DB954;
    --text-primary: #FFFFFF;
    --text-secondary: #B3B3B3;
}

body {
    background-color: var(--spotify-black);
    color: var(--text-primary);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Навбар */
.navbar {
    background-color: #000000 !important;
    border-bottom: 1px solid var(--spotify-light-gray);
}

.navbar-brand {
    font-weight: bold;
    color: var(--spotify-green) !important;
}

/* Карточки и контейнеры */
.glass-panel {
    background-color: var(--spotify-dark-gray);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.5);
}

/* Кнопки */
.btn-spotify {
    background-color: var(--spotify-green);
    color: white;
    border-radius: 50px;
    font-weight: bold;
    padding: 10px 30px;
    border: none;
    transition: transform 0.2s;
}

.btn-spotify:hover {
    background-color: #1ed760;
    transform: scale(1.05);
    color: white;
}

.btn-outline-spotify {
    background-color: transparent;
    border: 1px solid #878787;
    color: white;
    border-radius: 50px;
    font-weight: bold;
    padding: 10px 30px;
}

.btn-outline-spotify:hover {
    border-color: white;
    transform: scale(1.05);
}

/* Обложка альбома */
.album-cover-placeholder {
    width: 100%;
    max-width: 300px;
    aspect-ratio: 1 / 1;
    background-color: var(--spotify-light-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    box-shadow: 0 8px 24px rgba(0,0,0,0.5);
    color: var(--text-secondary);
}

/* Делаем все инпуты от Django красивыми */
form input, form select, form textarea {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    background-color: #121212; /* Цвет Spotify */
    background-clip: padding-box;
    border: 1px solid #404040;
    border-radius: 4px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

form input:focus {
    background-color: #121212;
    color: white;
    border-color: #1DB954; /* Зеленый при фокусе */
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(29, 185, 84, 0.25);
}